* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
LICENSE         text

*.env            text
*.md            text
*.css           text
*.scss          text
*.js            text
*.ts            text
*.json          text
*.yml           text
